<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ManagedUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManagedUI.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>1444, 906</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>False</value>
            </setting>
        </ManagedUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
